{% extends "base.html.twig" %}

{% block body %}
{{ form_start(form) }}
    {{ form_row(form.description) }}

    <h3>Tags</h3>
    {% for tag in form.tags %}
        {{ form_row(tag.name) }}
    {% endfor %}
{{ form_end(form) }}

{% endblock %}